body{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    font-variation-settings: 100;
    background-color: #fff;
}
.container-fluid{
    background-color: #ffffffa0;
    border-bottom: 1px solid;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1'%3E%3Crect width='1' height='0.8' fill='%23ccc'/%3E%3C/svg%3E") 0 0 100% 0;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1050;
    height: 150px;
    width: 100%;
}
.container-fluid a{
    margin-left: 16%;
    margin-top: 70px;
    font-size: 25px;
    color: #F97015;
    font-weight: 700;
    cursor: pointer;
}
.form-header{
    position: absolute;
    width: 30%;
    margin-top: 10px;
    margin-left: 30%;
}
.form-header .form-control{
    margin-top: 10px;
    display: flex;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.245);
    width: 65%;
    position: absolute;
    box-shadow: none;
    padding-left: 40px;
}
.form-control::placeholder{
    font-size: 12px;
    padding-left: 5px;
}

.form-header .form-control:focus{
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.164) !important;
    border: 1px solid #F97015;
    font-size: 15px;
}

.form-control::-webkit-search-decoration,
.form-control::-webkit-search-cancel-button,
.form-control::-webkit-search-results-button,
.form-control::-webkit-search-results-decoration{
    display: none;
}

.form-header .btn-outline-success{
    position: absolute;
    margin-left: 5px;
    margin-top: 15px;
    border: none;
    font-size: 13px;
    color: #090D0F;
}
.form-header .btn-outline-success:hover{
    background: none;
}
.dropdown-menu{
    padding: 0;
    margin: 0;
    height: 21rem;
    width: 250px;
    overflow: hidden;
    padding-top: 0;
    border-top: none !important;
}
.dropdown-menu li{
    width: 100%;
    max-width: 100%;
}
.dropdown-menu li p{
    font-size: 18px;
    font-weight: 600;
    color: #F97015;
    font-display: center;
    margin-left: 90px;
    margin-top: 18px;
}

.dropdown-menu li a{
    margin-top: 0px;
    font-size: 15px;
    text-decoration: none;
    margin-left: 0;
    text-align: center;
    height: 60px;
    padding-top: 15px;
}
.dropdown-menu li a:hover{
    background-color: #F97015;
    color: white;
}
.dropdown-item i{
    font-size: 20px;
    margin-right: 10px;
}
.area-sair:hover{
    color: white !important;
}
/* BOTOES INTERAÇOES HEADER */
.buttons-interact {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 80%;
}
.buttons-interact button i{
    -webkit-text-stroke: 0.5px currentColor;
}

.buttons-interact button{
    margin-left: 20px;
    margin-bottom: 50px;
    border: none;
    background: none;
    color: #090D0F;
    font-size: 20px;
    border-radius: 50%; 
    height: 50px;
    width: 50px;
    position: relative; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 1;
    transition: border 0.3s ease;
}

/* A borda que sobe de baixo para cima */
.buttons-interact button::after{
    content: "";
    position: absolute;
    inset: 0; 
    border-radius: 50%;
    padding: 2px;
    
    
    background: linear-gradient(to top, #F97015 50%, transparent 50%) bottom;
    background-size: 100% 200%; 
    background-position: top; 
    
    
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    
    transition: background-position 0.5s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

/* Quando passa o mouse */
.buttons-interact button:hover::after {
    opacity: 1;
    background-position: bottom; /* Faz o gradiente "subir" */
}

.buttons-interact button:hover {
    color: #F97015; /* Muda a cor do ícone também */
    transition: 0.5s ease;
}
/* CONTAINER LOGIN*/
.container-login{
    position: absolute;
    margin-left: 73%;
    margin-top: 70px;
    display: flex;
    padding-left: 10px;
}
.container-login button{
    border-radius: 7px;
    margin-left: 20px;
    position: relative;
    height: 40px;
    width: 120px;
    font-weight: 500;
}
.button-login{
    border: 1px solid rgba(0, 0, 0, 0.224);
    background-color: transparent;
    transition: all 0.5s ease;
}
.button-login:hover{
    background-color: #f9dfce9f;
    color: #F97015;
}
.button-login:hover i{
    color: #F97015;
    transition: 0.5s ease;
}
.button-login i{
    transition: 0.5s ease;
}

.button-login i:hover{
    color: #F97015;
    transition: 0.5s ease;
}
/* .container-login button::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;

    background: linear-gradient(to top, var(--animacao-hover) 50%, transparent 50%) bottom;
    background-size: 100% 200%;
    background-position: top;

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    transition: background-position 0.5s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
} */
.container-login button:hover::after{
    opacity: 1;
    background-position: bottom;
}

.button-login i{
    margin-right: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.768);
    font-weight: 700;
}

.btn-anunciar{
    border: none;
    background-color: #F97015;
    color: white;
    font-weight: 400;
}
.btn-anunciar i{
    margin-right: 7px;
    font-size: 18px;
}
.btn-anunciar:hover{
    background-color: #d35f11;
}


/* CARROSEL PREMIUM */
#carouselExampleCaptions{
    height: 60%;
    width: 60%;
    margin-left: 24%;
    margin-top: 5%;
}
.carousel-item img{
    border-radius: 5px;
    position: relative;
    margin-bottom: 0;
    width: 50%;
}
.carousel-inner{
    width: 10%;
    border-radius: 10px;
}
#carousel-control-prev{
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    margin-top: 22%;
    margin-left: 26%;
    border-radius: 5px;
}
#icon-prev-carousel{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

#carousel-control-next{
    height: 40px;
    width: 40px;
    background-color: white;
    color: black;
    margin-top: 23%;
    margin-right: 18%;
    position: absolute;
    border-radius: 5px;
}
.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23333333'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
    transform: rotate(180deg) !important;
}

/* BOTAO ANTERIOR CARROSSEL CATEGORIAS */


.btn-categoria-filtro{
    border: none !important;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
    background-color: #F97015;
    margin-top: 30px;
}
#CarroselIcons{
    margin-top: 5px;
    margin-left: 10%;
}
.btn-categoria-filtro:hover{
    background: none !important;
    border: none !important;
}

.btn-categoria-filtro.active {
    color: white !important;
    background-color: #F97015 !important;
    border: none;
}


.button-anterior-carrosel{
    margin-left: 19%;
    margin-top: 42%;
    height: 0px;
    width: 30px;
    z-index: 1;
}
.button-anterior-carrosel span{
    height: 20px;
    width: 20px;
    fill: black;
    border-radius: 5px;
}
.button-next-carrosel{
    height: 20px;
    width: 20px;
    margin-right: 10%;
    margin-top: 42%;
}
.button-next-carrosel span{
    height: 20px;
    width: 20px;
    border-radius: 5px;
}




/* CARD ITENS */
section{
    margin-left: 24%;
    margin-top: 2%;
}
section h6{
    font-size: 30px;
    font-weight: 700;
}
section p{
    font-size: 15px;
    margin-top: 20px;
    color: rgba(37, 35, 35, 0.672);
}

.card{
    width: 100%;
    height: 100%;
    border: none;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}
.img-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}
.img-container img{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 4 / 3;
    object-fit: contain;
    transform: scale(1.1);
}
.grid-container{
    width: 20%;
    margin-top:40rem;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0;
}
.card-content{
    padding: 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.card-content h3{
    font-size: 23px;
    margin: 0;
    line-height: 1.2;
}
.preco{
    font-size: 25px;
    font-weight: bold;
    color: #F97015;
    margin: 2px 0;
    margin-top: 20px;
}
.info{
    font-size: 15px;
    color: grey;
    margin-top: 15px;
}
.btn-alugar{
    margin-top: auto;
    width: 100%;
    padding: 8px 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.252);
    font-weight: bold;
    border-radius: 10px;
}
.btn-alugar:hover{
    background-color: #ffdcc598;
    color: #F97015;
}
.ver-todos{
    position: absolute;
    margin-left: 55%;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.285);
    height: 40px;
    width: 110px;
    border-radius: 5px;
}
.ver-todos:hover{
    background-color: #ffdcc598;
    color: #F97015;
}