:root{
    --cor-fontes-afins: #F97015;
    --cor-containers: rgb(255, 255, 255);
    --cor-body: #FCFAF7;
    --hover: #FFF3EB;
}

.container-perfil{
    display: none;
    flex-direction: column;
    margin-left: 22rem;
    margin-top: -30rem;
    font-family: Inter;
}
.infos{
    height: 260px;
    width: 73%;
    border-radius: 10px;
    background-color: var(--cor-containers);
    border: 1px solid rgba(0, 0, 0, 0.098);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.068);
}
.container-infos-pessoais{
    position: absolute;
    margin-left: 200px;
    margin-top: 35px;
}
#nomePessoa{
    font-size: 17px;
}
.text-member{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.631);
}
.perfil-header{
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.perfil-header img{
    height: 150px;
    width: 150px;
    margin-left: 30px;
    border-radius: 100%;
    display: block;
    border: 2px solid var(--cor-fontes-afins);
}
.infos .botao-foto{
    height:35px;
    width: 35px;
    font-size: 18px;
    margin-top: 60px;
    margin-left: -50px;
    left: 20rem;
    border: none;
    background-color: var(--cor-fontes-afins);
    border-radius: 100%;
    color: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* CONTAINER INFOS PESSOAIS */


.info-pessoais{
    height: 450px;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: var(--cor-containers);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.068);
}
.info-pessoais p{
    font-size: 23px;
    margin-left: 30px;
    font-weight: 500;
}

/* CONTAINER NOME */
.nome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Inter;
}
.nome label{
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
}
.nome input{
    width: 94%;
    height: 35px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-color: var(--cor-body);
    padding-left: 10px;
}
.info-pessoais input::placeholder{
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.info-pessoais input:focus{
    border: 1px solid var(--cor-fontes-afins);
    outline: none;
    font-size: 15px;
}

/* ------------------------------------------------------------ */


/* CONTAINER TELEFONE */

.fone-city{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 96%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.fone-city label{
    font-size: 13px;
    font-weight: 500;
}
.fone{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    width: 50%;
}
.fone input{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    background-color: var(--cor-body);
}
.cidade{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
    width: 46.4%;
}
.cidade input{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    background-color: var(--cor-body);
}
/* --------------------------------------------------------- */

/* CONTAINER BIO */


.bio{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.bio label{
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 10px;
}
.bio textarea{
    height: 130px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    padding-left: 10px;
    padding-top: 10px;
    font-size: 17px;
    outline: none;
    resize: none;
    background-color: var(--cor-body);
}
textarea::placeholder{
    font-size: 14px;

}
textarea:focus{
    border: 1px solid var(--cor-fontes-afins);
}


/* ----------------------------------------------------------------------------------- */

/* CONTAINER BOTOES SALVAR */

.container-botoes-env{
    margin-left: 69.5%;
    margin-top: 20px;
}
.container-botoes-env button{
    height: 40px;
    margin-left: 10px;
}
.cancelar{
    width: 100px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.103);
    color: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    cursor: pointer;
    background: none;
}
.cancelar:hover{
    background-color: var(--hover);
    color: var(--cor-fontes-afins);
    border: 1px solid rgba(0, 0, 0, 0.041);
    transition: 0.2s ease-in;
}

.env{
    width: 140px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    background-color: #FD8443;
    color: #ffffff;
    cursor: pointer;
    font-family: sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: none !important;
    text-decoration: none;
    font-smooth: antialiased;
    transform: perspective(1px) translateZ(0);
    letter-spacing: 0.2px;
    backface-visibility: hidden;
}
.env:hover{
    background-color: #ff8736;
}

/* --------------------------------------------------- */

/* APARECE/DESAPARECE A ABA PERFIL */

.ativado{
    width: 50px;
    transition: 0.5s ease;
    overflow: hidden;
}


/* Selecione os elementos que você está movendo */
.config-sidebar, 
.hr-vertical, 
.my-3 {
    /* 'all' aplica a transição a qualquer mudança, 0.3s é o tempo */
    transition: all 0.5s ease;
}

/* Opcional: Garanta que o overflow mude suavemente se necessário */
.container-botoes_env {
    transition: max-height 0.3s ease; 
}

/* Quando a sidebar encolher, o traço vertical se move */
body.sidebar-encolhida .divisao-vertical {
    margin-left: 50px !important;
}

/* Quando a sidebar encolher, a linha do botão sair diminui */
body.sidebar-encolhida .my-3 {
    width: 50px !important;
}

/* Ajustando o container de perfil para não ficar buraco branco */
body.sidebar-encolhida .container-perfil {
    margin-left: 5rem; /* Ajuste o valor conforme sua necessidade */
}

/* TRANSIÇAO PARA O TITULO E O SAIR */


.texto-logo,
.texto-sair{
    transition: width 0.3s ease;
    display: flex;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
}

.config-sidebar.ativado .texto-sair,
body:has(.config-sidebar.ativado) .texto-logo{
    pointer-events: none;
    width: 0px;
}

 