body{
    margin: 0;
    padding: 0;
}
.box-registro{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 35%;
    border: 1px solid rgba(0, 0, 0, 0.384);
    position: absolute;
    width: 30%;
    height: 80%;
    border-radius: 5px;
}
.box-registro .voltar-homepage{
    margin-right: 70%;
    margin-top: 20px;
    border: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.692);
}
.box-registro .voltar-homepage:hover{
    color: #FF6933;
}
.form-registro{
    width: 70%;
    flex-direction: column;
    display: flex;
}
.form-registro input{
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.274);
    color: rgba(0, 0, 0, 0.815);
    font-size: 15px;
}
.form-registro input::placeholder{
    padding-left: 5px;
    font-size: 13px;
}
.form-registro input:focus{
    padding-left: 40px;
    border: 1px solid #FF6933 !important;
    outline: none;
}
.form-registro label{
    font-size: 12px;
    padding: 0;
    margin-top: 26px;
    color: black;
    font-weight: 500;
}

.box-registro h6{
    margin-top: 100px;
    font-size: 24px;
    font-weight: 600;
}
.box-registro p{
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.705);
}


/* ICONES INPUT */

.bi-person{
    position: absolute;
    margin-top: 47px;
    margin-left: 9px;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.575);
}
.bi-envelope{
    position: absolute;
    font-size: 19px;
    margin-top: 135px;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.616);
}
.icon-lock1{
    position: absolute;
    font-size: 18px;
    margin-top: 38%;
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.678);
}
.icon-lock2{
    position: absolute;
    margin-top: 53%;
    margin-left: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.616);
}

.form-registro button{
    margin-top: 35px;
    border: none;
    height: 40px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    background-color: #FF6933;
}

.box-registro hr{
    margin-top: 90%;
}
.box-registro p{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.753);
}
.box-registro p a{
    text-decoration: none;
    color: #FF6933;
}
.box-registro img{
    height: 40px;
    width: 40px;
    margin-top: 80px;
    position: absolute;
}