:root{
    --linear-gradient-corpo: linear-gradient(
        to left top in oklab,
        #1C1C1D,
        var(--cor-destaque)
    );
}

body{
    margin: 0;
    padding: 0;
    background-image: var(--linear-gradient-corpo);
    min-height: 100vh;
    font-family: Inter;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    font-variation-settings: 100;
}
.box-registro{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 35%;
    position: absolute;
    width: 30%;
    height: 90%;
    border-radius: 10px;
    background-color: var(--corAbas);
}
.box-registro .voltar-homepage{
    margin-right: 70%;
    margin-top: 20px;
    border: none;
    font-size: 13px;
    color: white;
    font-weight: 500;
    background: none;
}
.box-registro .bi-check-circle-fill{
    font-size: 40px;
    color: var(--cor-destaque);
    margin-top: 20px;
}
.box-registro .voltar-homepage:hover{
    color: var(--cor-destaque);
}
.form-registro{
    width: 70%;
    flex-direction: column;
    display: flex;
    gap: 0;
    margin-top: 20px;
    min-height: 37rem;
    width: 100%;
}
.form-registro div{
    display: flex;
    flex-direction: column;
}
.form-registro input{
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    height: 40px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--colorTextCinza);
    color: var(--colorTextCinza);
    font-size: 15px;
}
.form-registro input::placeholder{
    padding-left: 5px;
    font-size: 13px;
}
.form-registro input:focus{
    padding-left: 40px;
    border: 1px solid var(--cor-destaque) !important;
    outline: none;
    color: var(--colorTextCinza);
}
.form-registro label{
    font-size: 12px;
    padding: 0;
    margin-top: 26px;
    margin-left: 65px;
    color: white;
    font-weight: 500;
}

.box-registro h6{
    margin-top: 0px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(238, 238, 238);
}
.box-registro p{
    font-size: 14px;
    font-weight: 500;
    color: white !important;
}


/* ICONES INPUT */
.form-registro i{
    -webkit-text-stroke: 0.4px;
}
.bi-person{
    position: absolute;
    margin-top: 47px;
    margin-left: 65px;
    font-size: 23px;
    color: var(--cor-destaque);
}
.bi-envelope{
    position: absolute;
    font-size: 19px;
    margin-top: 50px;
    margin-left: 66px;
    color: var(--cor-destaque);
}
.icon-lock1{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 65px;
    color: var(--cor-destaque);
}
.icon-lock2{
    position: absolute;
    margin-left: 65px;
    margin-top: 50px;
    font-size: 18px;
    color: var(--cor-destaque);
}

.form-registro button{
    width: 80%;
    height: 40px;
    margin-left: 60px;
    margin-top: 35px;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--cor-destaque);
}

.box-registro hr{
    margin-top: 90%;
    width: 80%;
}
.box-registro p{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: var(--colorTextCinza);
}
.box-registro p a{
    text-decoration: none;
    color: var(--cor-destaque);
}
.box-registro img{
    height: 40px;
    width: 40px;
    margin-top: 80px;
    position: absolute;
}
.login-plataformas{
    margin-top: 30px;
    margin-left: 200px;
}
.login-plataformas a{
    font-size: 40px;
    padding-left: 15px;
}
.google{
    color: #EA4335;
}
.apple
{
    color: #F7F5F3;
}